html, body {
    height: 100%;
    overflow: auto;
}

body {
	margin: 0;
    padding: 0;
	background-color: #161616;
}

a {
	text-decoration: none;
	color: #D9D9D9;
}

.grid-2 {
	padding-top: 2em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.Text {
	color: #D9D9D9;
	font-family: 'Oswald', sans-serif;
	padding-top: 25vh;
	padding-left: 0;
	width: 58%;
	height: 100%;
}

.Logo {
    font-size: 5em;
    color: #6B6B6B;
}

.Logo>*:hover {
	transition: 0.7s ease-in;
	color: #B5B5B5;
}

.Contacts {
	vertical-align: middle;
	font-size: 2.2em;
	padding-top: 2vh;
}


.Contacts_mute>*:hover {
	color: #E0E0E0 !important;
	transition: 0.5s ease-in;
}

.Contacts>a:hover {
	color: #E0E0E0 !important;
	transition: 0.5s ease-in;
}

.Contacts>a {
	color: #6B6B6B !important;
	text-decoration: none
}

.Contacts_mute>* {
	color: #6B6B6B !important;
	font-size: 1.35em !important;
}

.Center {
	text-align: center;
}

.wow {
	padding-top: 22vh;
}

.fmg {
	color: #D9D9D9;
	font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.fmg:hover {
	transition: 1s cubic-bezier(1, 0.25, 0.64, 2.15);
	text-shadow: 1px 1px 9px black;
}

.autoM>* {
	margin: 0px;
	padding-left: 35vh;
}

#mute {
	position: relative;
	width: 1.6em;
	height: 1.35em;
	left: 85%;
	top: 15%;
}